.compras{
    display: flex;
    max-width: 606px;
    height: auto;
    gap: 20px;
    margin-bottom: 15px;
}
.compras .lista{
    width: 100%;
    height: fit-content;
    padding-bottom: 30px;
}
 .borda{
    width: 100%;
    height: 15px;
    background-color: brown;
}
.lista h1{
    color: white;
    text-align: center;
    background-color: brown;
    padding: 0%;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: fit-content;
}
.lista form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    gap: 5px;
}
.esq .lista form {
   
    margin-bottom: 30px; 
}
.lista form section{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.esq{
    width: 50%;
    height:fit-content;
}
.dir{
    margin-top:50px ;
    width: 50%;
    height:fit-content;
}
.dir .top{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}
.top{
    width: 100% !important;
}
.esq .top{
    display: flex;
    
    justify-content: center;
    align-items: flex-e;
    flex-direction: column;
}
.esq .top h1{
    margin-left: 15px;
}
.dir .top h1{
    margin-right: 15px;
    
}
.dir .lista form section{
    display: flex;
    flex-direction: row-reverse;
    gap: 15px;
    margin: 0%;
}

.esq div:nth-of-type(1) .top div {
    background: #B3510B;
}
.esq div:nth-of-type(1)e .top h1 {
    background: #B3510B;
}

.esq div:nth-of-type(2) .top div {
    background: #36B816;
    
}
.esq div:nth-of-type(2) .top h1 {
    background: #36B816;
}

.esq div:nth-of-type(3) .top div {
    background: #8F00FF;
    
}
.esq div:nth-of-type(3) .top h1 {
    background: #8F00FF;
}

.dir div:nth-of-type(1) .top div {
    background: #FF0000;
    
}
.dir div:nth-of-type(1) .top h1 {
    background: #FF0000;
}

.dir div:nth-of-type(2) .top div {
    background: #EEE518;
    
}
.dir div:nth-of-type(2) .top h1 {
    background: #EEE518;
}

.dir div:nth-of-type(3) .top div {
    background: #00B2FF;
    
}
.dir div:nth-of-type(3) .top h1 {
    background: #00B2FF;
}

.dir div:nth-of-type(4) .top div {
    background: #FFA800;
    
}
.dir div:nth-of-type(4) .top h1 {
    background: #FFA800;
}

.dir div:nth-of-type(5) .top div {
    background: #736F67;
    
}
.dir div:nth-of-type(5) .top h1 {
    background: #736F67;
}
