@import url('https://fonts.googleapis.com/css2?family=Krub&family=Angkor&family=Laila:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Lakki+Reddy&display=swap');


.lista{
    margin-top: 30px;
    padding-top: 10px;    
    gap: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
    height: auto;
    background-color: red;
}
.itemCtn{
    display:flex ;
    background-color: white;
    flex-direction: column;
    width: 80%;
    padding-left: 12%;
    padding-right: 10%;
    height: auto;
    text-align: center;
    align-items: flex-start;
}
h1{
    align-self: center;
}
.ingredientesCtn{
    width: 100%;
    height: auto;
    display: flex;
    font-family: 'Laila';
    flex-direction: row;
    background-color: white;
}

.reverseflex{
    flex-direction: row-reverse;
}
.demo{
    align-self: flex-end;
}
.side{
    width: 50%;
}/* Ellipse 1 */

h1{
    height: auto;
    font-family: "Angkor", serif;
    font-weight: 400;
    font-size: 20.8167px;
    line-height: 38px;
    font-style: normal;
    color: #000000;
    padding: 20px;
}

.lakki-reddy-regular {
    font-family: "LakkiReddy", serif;
    font-weight: 400;
    font-style: normal;
    
  }
  
 h2{
    margin-top: 40px;
    text-align: center;
    padding: 0%;
    width: fit-content;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 4px;
    color: white;
    background-color: red;


    font-family: "Lakki Reddy", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 21.2696px;

}
p{
    width: auto;
    height: auto;
    text-align: left;
    font-family: "Krub";
    padding-bottom: 50px;
}
p .reverse{
    align-items: flex-end;
}
.side img{
    width:162px ;
    height: 160px;

}
.side ul{
    height: auto;
    margin: 0%;
    padding: 0%;
    gap: 15px;
    list-style: square;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaCenter {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 50px;
}


.center img{
    width:162px ;
    height: 160px;
}
.listaCenter ul {
    height: auto;
    width: max-content;
    margin: 0%;
    padding: 0%;
    gap: 15px;
    list-style: square;
}

.listaCenter ul li{
    width: max-content;
    height: max-content;
}