@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;

}
main{
    width: 98%;
    max-width: 700px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0%;
    padding-top: 35px;
    padding-bottom: 35px;
    margin: 0;
    gap: 45px;
}

ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
    font-family: 'Amiri';

    font-style: normal;
    font-weight: 400;
    font-size: 25.8408px;
    line-height: 45px;
}


ul li div {
    width: min-content;
    height: min-content;
    padding: 10px;
    justify-self: flex-end;
    box-sizing: border-box;
}

ul li img {
    max-width: 138px;
    padding: 10px;
}

ul li p {
    width: 100%;
    height: 100%;
}

section{
    display: none;
    flex-direction: column;
    justify-content: center;
}

.grifado{

    width: 100%;
    height: 26px;
    right: 105px;
    top: 1002px;

    font-family: 'Black Han Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18.1784px;
    line-height: 23px;
    text-align: center;
    color: #000000;
}

button{
    width: 329px;
    height: 89px;
    text-align: center;
    background: #FF0000;
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
}