@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:wght@100..900&display=swap');


body{
    margin: 0%;
    padding: 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
body main{
    margin-top: 35px;
    flex-direction: column;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;  
    gap: 50px; 
    width: 100%; 
    overflow: hidden;
}
body img{
    width: 100%;
    max-width: 600px;
}
main h2{
    background: #FF0000;
    border-radius: 5.49068px;

    
    right: 66.2px;
    top: 595px;
    font-family: 'Inknut Antiqua';
    font-style: normal;
    font-weight: 600;
    font-size: small;
    line-height: 20px;

    color: #FFFFFF;

    max-width: 80%;
    height: auto;
    text-align: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    padding-left: 15px;
    
}
main section p{

    max-width: 606px;
    height: max-content;
    padding-bottom: 50px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.8272px;
    line-height: 22px;
    text-align: justify;
    color: #000000;

    padding: 0;
}
.listasimples li{
    max-width: 606px;
    height: max-content;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.8272px;
    line-height: 22px;
    text-align: justify;
    color: #000000;

}
main section{
    width: 90%;
    max-width: 606px;
    
}
.cardapio{
    width: 152px;
    height: 35px;
}
table { 
    border-spacing: 0;
    border-collapse: collapse;
    margin-bottom: 35px;
    }
td{
    border: red 3px solid;
    text-align: center;
    font-size: small;
    font-family: "Inter";

    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
}


th{
    width: 100px;
    height: 104px;
    font-family: 'Abhaya Libre ExtraBold';
    font-style: normal;
    font-weight: 800;
    font-size: 21.2039px;
    line-height: 25px;
    color: #FF0000;
    border: red 3px solid;
    min-width: 100px;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #D9D9D9;

}

.customth{
    
    background: none !important;
    border: 0;

}
.deslocamentoth{
    height: 90%;
    width: calc(100% - 2px);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: red 3px solid;
    border-right: 0px;

    background-color: #D9D9D9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listasimples li{
    max-width: 606px;
    height: max-content;
    padding-top:10px;
    padding-bottom: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 17.8272px;
    line-height: 22px;
    text-align: justify;
    color: #000000;

}

.listasimples li ul{
    list-style: disc;
}
.listasimples li p {
    margin: 0;
    padding: 0;
}

.centralizado {
    text-align: center;
}

